.container
  %article.card-body.mx-auto{:style => "max-width: 400px;"}
    %h4.card-title.text-center.mb-4.mt-1 Log in
    %hr/
    %p.text-success.text-center Algumas mensagens aqui
    = form_for(resource, as: resource_name, url: session_path(resource_name),class: "form-signin") do |f|
      .form-group
        .input-group
          .input-group-prepend
            %span.input-group-text
              %i.fa.fa-user
          = f.email_field :email, autofocus: true, autocomplete: "email",type:"email", id:"inputEmail", class: "form-control", placeholder:"Email"
      .form-group
        .input-group
          .input-group-prepend
            %span.input-group-text
              %i.fa.fa-lock
          = f.password_field :password, autocomplete: "off",type:"password", id:"inputPassword", class: "form-control", placeholder:"Senha", required: true
      .input-group
        .checkbox
          %label
          - if devise_mapping.rememberable?
            = f.check_box :remember_me
            Lembrar-me
      .form-group
        %button.btn.btn-primary.btn-block{:type => "submit"} Login