/*
 *= require bootstrap
*/

 body, html {
    height: 100%;
    background-repeat: no-repeat;
    background: #eee url(https://st3.depositphotos.com/11601342/19145/v/1600/depositphotos_191451312-stock-illustration-vector-pet-pattern-pet-seamless.jpg);
}