%nav.navbar.navbar-expand-lg.navbar-dark.navbar-custom
  .container
    %a.navbar-brand{:href => "#"} Please Don't Die
    %button.navbar-toggler{"aria-controls" => "navbarResponsive", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarResponsive", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbarResponsive.collapse.navbar-collapse
      %ul.navbar-nav.ml-auto
        -if user_signed_in?
          %li.nav-item
            = link_to "Logout", destroy_user_session_path, :class => "nav-link", method: :delete
        -else
          %li.nav-item
            = link_to "Sign up", new_user_registration_path, :class => "nav-link"
          %li.nav-item
            = link_to "Log in", new_user_session_path, :class => "nav-link"

